@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-cards-chevron {
  .section-description {
    color: var(--ylb-color-dark-grey-1, darkgray);
    margin-bottom: 50px;

    h2 {
      font-size: 48px;
      line-height: normal;
      text-align: var(--wsTextAlignment, center);
    }

    p {
      font-size: 18px;
      line-height: 28px;
      text-align: var(--wsTextAlignment, center);
    }
  }

  .row-cards {
    .card {
      border-radius: var(--wsBorderRadius, unset);
      box-shadow: var(--wsBoxShadow, none);
      border: var(--wsBorderStyle , none);
      color: var(--ylb-color-dark-grey-1, darkgray);
      height: 100%;

      h3 {
        font-size: 32px;
        line-height: 32px;
      }

      .card-img-wrapper {
        min-height: 240px;
        border-top-left-radius: var(--wsBorderRadius, unset);
        border-top-right-radius: var(--wsBorderRadius, unset);
        position: relative;
        overflow: hidden;

        .chevron {
          height: 100%;
          width: 100%;
          top: -5%;
          transform: scale(1.01, 1.1);
          left: -8%;
          position: absolute;

          svg {
            height: 100%;
            width: 100%;
          }
        }

        .img-container {
          padding: 15px;
          position: relative;
          height: 100%;

          @media (min-width: 400px) {
            padding: 20px;
          }
        }

        img {
          min-height: 170px;
          border-radius: var(--wsBorderRadius, unset);
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .card-content {
        padding: 20px;
        align-items: var(--wsFlexAlignment, unset);
        text-align: var(--wsTextAlignment, unset);;

        >div {
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        .card-header {
          border: none;
          padding: 0;
          background-color: transparent;

          .category-tag {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            min-height: 17px;
            padding: 2px 4px;
            color: var(--ylb-color-dark-grey-1, darkgray);
            width: fit-content;
          }
        }

        .card-body {
          align-items: var(--wsFlexAlignment, unset);

          .card-heading {
            margin-bottom: 25px;
          }
        }

        .card-footer {
          position: var(--wsButtonPosition, unset);
          bottom: -25px;
        }

        .card-text {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    &.row-cols-lg-1 {
      @include media-breakpoint-up('lg') {
        .card {
          flex-direction: row;
          min-height: 390px;


          .card-content {
            flex: 1;

            .card-body {
              flex: unset;
            }
          }

          .card-img-wrapper {
            height: unset;
            width: 49%;
            border-bottom-left-radius: var(--wsBorderRadius, unset);
            border-top-right-radius: unset;

            img {
              width: 100%;
            }
          }
        }
      }

      @include media-breakpoint-up('xl') {
        .card {
          .card-content {
            padding: 40px 35px 40px 40px;
          }
        }
      }
    }

    @media (min-width: 1060px) {
      &.row-cols-lg-2 .card .card-img-wrapper {
        min-height: 400px;
      }

      &.row-cols-lg-3 .card .card-img-wrapper {
        min-height: 270px;

        .chevron {
          left: -15%;
        }
      }

      &.row-cols-lg-4 .card .card-img-wrapper {
        min-height: 200px;

        .img-container {
          padding: 15px;
        }
      }
    }
  }

  // WS Style component-level adjustments.
  // - Border style.
  &.ws-border-style--solid {
    .row-cards {
      .card {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-solid, none);
      }
    }
  }

  &.ws-border-style--drop-shadow {
    .row-cards {
      .card {
        box-shadow: var(--ylb-border-style-drop-shadow, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }

  &.ws-border-style--none {
    .row-cards {
      .card {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }
  // - Text / Button alignment style.
  &.ws-text-alignment--left {
    .section-description {
      h2, p {
        text-align: left;
      }
    }
    .row-cards {
      .card {
        .card-content {
          align-items: flex-start;
          text-align: left;

          .card-body {
            align-items: flex-start;
          }
        }
      }
    }
  }

  &.ws-text-alignment--center {
    .section-description {
      h2, p {
        text-align: center;
      }
    }
    .row-cards {
      .card {
        .card-content {
          align-items: center;
          text-align: center;

          .card-body {
            align-items: center;
          }
        }
      }
    }
  }

  // - Button position variations.
  &.ws-button-position--inside {
    .row-cards {
      .card {
        .card-content {
          .card-footer {
            position: static;
          }
        }
      }
    }
  }

  &.ws-button-position--overlapping {
    .row-cards {
      .card {
        .card-content {
          .card-footer {
            position: absolute;
          }
        }
      }
    }
  }
}
