{% extends "block--lb-cards.html.twig" %}

{% block block_cards %}
  {% set classes = classes|merge(['block-lb-cards-chevron']) %}
  {{ attach_library('lb_cards/lb_cards_chevron') }}
  {{ parent() }}
{% endblock %}

{% block item_content %}
  {% embed '@lb_cards/block--lb-cards--item.html.twig' with {
    'title': item.field_title.value,
    'description': item.field_description.value,
    'link': item.field_cta,
    'tag': item.field_topic_tag,
    'image_uri': item.field_media.entity.field_media_image.entity.uri.value,
    'image_alt': item.field_media.entity.field_media_image.entity.alt,
  } %}
    {% block image %}
      <div class="card-img-wrapper">
        <div class="chevron">
          {% include "@lb_cards/chevron.html.twig" %}
        </div>
        <div class="img-container">
          <img src="{{ image }}" alt="{{ image_alt }}">
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

