{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block content entity instance.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
  'block',
  'block--spacing',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-lb-cards',
]
%}

{% set card_id = 'cards-' ~ configuration['block_revision_id'] %}
{% block block_cards %}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if block_content.field_section_title.value or block_content.field_subtitle.value %}
      <div class="row section-description">
        <div class="col-12">
          {% if block_content.field_section_title.value %}
            <h2>{{ block_content.field_section_title.value }}</h2>
          {% endif %}
          {% if block_content.field_subtitle.value %}
            <p>{{ block_content.field_subtitle.value }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row-cards row row-cols-1 {{ row_class }} g-4" id="{{ card_id }}">
      {% if items %}
        {% for key, item in items %}
          {% set safe_hash = configuration['block_revision_id'] ~ '--' ~ loop.index %}

          {% block item_content %}
            {% embed '@lb_cards/block--lb-cards--item.html.twig' with {
                'title': item.field_title.value,
                'description': item.field_description.value,
                'limit': item.field_trimmed_limit.value,
                'link': item.field_cta,
                'tag': item.field_topic_tag,
                'image_uri': item.field_media.entity.field_media_image.entity.uri.value,
                'image_alt': item.field_media.entity.field_media_image.entity.alt,
              } %}
            {% endembed %}
          {% endblock %}
        {% endfor %}
      {% endif %}
    </div>
  {% endblock %}
  {% if block_content.field_cta.uri is not empty %}
    <div class="row section-cta justify-content-center my-5">
      <a href="{{ block_content.field_cta.0.url }}" class="btn btn-primary filled">{{ block_content.field_cta.title }}</a>
    </div>
  {% endif %}
</div>
{% endblock %}
