<svg preserveAspectRatio="none" viewBox="0 0 863 610" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="UI-KIt" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="banner" transform="translate(-1.000000, -1386.000000)">
      <g id="chevron" transform="translate(1.000000, 1386.000000)">
        <path d="M853.164443,287.453806 L851.894623,285.264012 L709.950849,38.2331146 L707.466419,33.9089651 C694.699258,12.5350138 671.554009,-0.384834781 646.735904,0.00874206473 L529.553617,0.00874206473 C516.509619,0.0393090701 505.951495,10.6658834 505.95153,23.7638452 C505.878831,27.6926463 506.830464,31.572251 508.712008,35.0177214 L651.67716,283.656316 C665.197627,306.800159 665.418515,335.423093 652.25686,358.774553 L528.035354,574.982027 C526.15381,578.427498 525.202177,582.307103 525.274876,586.235903 C525.274876,599.355483 535.866608,609.991006 548.932172,609.991006 L669.12338,609.991006 C693.942917,610.390316 717.090828,597.468982 729.853895,576.090783 L732.338325,571.766633 L851.867019,363.874832 L854.075401,360.021904 C860.132215,349.149681 863.208928,336.858896 862.991745,324.403109 C863.043758,311.439517 859.682037,298.692489 853.247258,287.453806 L853.164443,287.453806 Z" id="Shape" fill="var(--wsTertiaryColor, #000)"></path>
        <path d="M710.164443,287.453806 L708.894623,285.264012 L566.950849,38.2331146 L564.466419,33.9089651 C551.699258,12.5350138 528.554009,-0.384834781 503.735904,0.00874206473 L0,0.0177360411 L0.378555001,610 L526.12338,609.991006 C550.942917,610.390316 574.090828,597.468982 586.853895,576.090783 L589.338325,571.766633 L708.867019,363.874832 L711.075401,360.021904 C717.132215,349.149681 720.208928,336.858896 719.991745,324.403109 C720.043758,311.439517 716.682037,298.692489 710.247258,287.453806 L710.164443,287.453806 Z" id="Shape" fill="var(--wsSecondaryColor, $fff)"></path>
      </g>
    </g>
  </g>
</svg>
